
= page_title("Home")

%div.row-fluid
	%div.span12
		%header#main
			%h1.demo-logo 
				JAM
				%small <%= "we are your kind of developers" %>

%div.row-fluid.hidden-phone
	%div.span12
		%section#logo

%logo.row-fluid.top20
	%div.span10.offset1
		%div
		- @members.each do |member|
			%div.front-member-block
				%div.row-fluid
					%div.span7
						= g(member, "img-circle img-polaroid pull-left hidden-phone")
						%h1
							= member.name.upcase
							%small= member.email

						%div.top10
							%p.para{style:"font-size:18px"}= member.description
					%div.span5
						%div.row-fluid
							%div.span12
								- member.social_links.each do |social_link|
									%span= link_to image_tag(social_link.photo), social_link.link, target:"_blank", title: social_link.name

						%div.row-fluid.top10
							%div.span12
								%p.lead Expertise:
								- if member.skills.empty?
									%p None
								- else
									%ul.unstyled
										- member.skills.each do |skill|
											%li{style:"display:inline;padding:3px"}
												= image_tag(skill.photo)

						%div.row-fluid.top10
							%div.span12
								%p.lead Projects involved with:
								- if member.projects.empty?
									%p None
								- else
									%ul
										- member.projects.each do |project|
											%li= link_to project.name, project.link, target:"_blank"

				%div.clearfix

				
		

