= form_for [@member,@project] do |f|
	- unless @project.errors.empty?
		%p.lead= "#{pluralize(@project.errors.size, "error")} found."
		%ul
			- @project.errors.full_messages.each do |err|
				%li
					%span.error= err
	%div
		= f.label :name
		= f.text_field :name, placeholder: "name"

	%div
		= f.label :link
		= f.text_field :link, placeholder: "e.g http://www.google.com"

	%div.top10
		= f.submit "#{action}", class:"btn btn-large"
		&nbsp;
		or
		&nbsp;
		= link_to "Go back", members_path