<!DOCTYPE html>
<html>
<head>
  <title> <%= yield :title %> </title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0;" />
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
	<div class="row">
		<div class="span12">
			<%= yield %>
		</div>
	</div>
</div>

<hr />

<div class="container">
	<div class="row">
		<div class="span2 offset10">
			<p> Copyright &copy; 2013 JAM </p>
		</div>
	</div>
</div>

</body>
</html>
